@import 'tailwindcss';
@import './fonts.css';

@theme {
	--color-canvas: #000;
	--color-ink: #000;
	--color-accent: #70c1ff;
	--color-offwhite: #fffafa;

	--max-height-fold: calc(100svh - var(--header-height));
}

body {
	background-color: var(--color-canvas);
}

@theme {
	--font-futsat: 'Futsat', sans-serif;
	--font-figtree: 'Figtree', sans-serif;
}

@custom-variant hover (&:hover);

@variant header-open (body:has(#header-toggle:checked) &);
@variant header-closed (body:has(#header-toggle:not(:checked)) &);

@variant headings (& :is(h1, h2, h3, h4, h5, h6)) {
}

@layer base {
	* {
		min-width: 0;
	}

	[hidden] {
		display: none !important;
	}

	@supports (interpolate-size: allow-keywords) {
		:root {
			interpolate-size: allow-keywords;
		}

		:open::details-content {
			height: auto;
		}
	}

	:target {
		scroll-margin-top: var(--header-height);

		&:is(h1, h2, h3, h4, h5, h6) {
			animation: target 2s ease-in-out forwards;
		}
	}

	@keyframes target {
		0%,
		50% {
			background-color: color-mix(
				in oklab,
				var(--color-amber-400) 50%,
				transparent
			);
		}
	}

	html {
		accent-color: var(--color-accent);
		caret-color: var(--color-accent);
		scroll-behavior: smooth;
	}

	body:has(dialog[open]) {
		overflow: hidden;
	}

	label,
	input[type='submit'],
	select,
	button,
	summary {
		cursor: pointer;
	}

	input {
		background-color: transparent;
	}

	details {
		&::details-content {
			overflow: clip;
			transition-duration: var(--default-transition-duration);
			transition-property: content-visibility, block-size;
			transition-behavior: allow-discrete;
		}

		&:not(:open)::details-content {
			block-size: 0;
		}
	}

	::-webkit-details-marker {
		display: none;
	}

	hr {
		@apply border-ink/10;
	}
}

/* animations */

@utility anim-fade {
	--x: 0;
	--y: 0;
	animation: anim-fade-to var(--default-transition-duration) ease-in-out
		forwards;
}
@utility anim-fade-to-l {
	@apply anim-fade;
	--x: 1rem;
}
@utility anim-fade-to-r {
	@apply anim-fade;
	--x: -1rem;
}
@utility anim-fade-to-t {
	@apply anim-fade;
	--y: 1rem;
}
@utility anim-fade-to-b {
	@apply anim-fade;
	--y: -1rem;
}

@keyframes anim-fade-to {
	from {
		opacity: 0;
		translate: var(--x, 0) var(--y, 0);
	}
}

/* typography */

@utility h-base {
	font-family: var(--font-futsat);
	@apply leading-tight;
}

@utility h1 {
	@apply h-base text-3xl md:text-4xl lg:text-5xl;
}
@utility h2 {
	@apply h-base text-2xl font-medium md:text-3xl lg:text-4xl;
}
@utility h3 {
	@apply h-base text-2xl font-medium lg:text-3xl;
}
@utility h4 {
	@apply h-base text-xl lg:text-2xl;
}
@utility h5 {
	@apply h-base text-lg lg:text-xl;
}
@utility h6 {
	@apply h-base;
	font-family: var(--font-figtree);
}

@utility technical {
	letter-spacing: 1px;
	font-family: var(--font-figtree);
}

@utility text-shadow {
	text-shadow: 0 0 0.2em rgb(0 0 0 / 0.25);
}

@utility text-gradient {
	@apply bg-linear-to-br from-gray-50 to-gray-400 bg-clip-text font-bold text-transparent;
}

/* ctas, links */

@utility action-base {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.8em 3em;
	text-align: center;
	text-shadow: none;
	color: var(--color-ink);
	min-width: 160px;
	font-size: 14px;
}

@utility action {
	@apply action-base cursor-pointer rounded-full border border-transparent bg-white text-balance text-black shadow-lg transition-all duration-700 hover:border-white hover:bg-black hover:text-white;
}
@utility pill-button {
	@apply cursor-pointer rounded-sm border border-white bg-white p-2 text-xs text-black transition duration-500 hover:bg-black hover:text-white;
}

@utility action-outline {
	@apply action-base frosted-glass cursor-pointer rounded-full border border-white text-balance text-white transition-all duration-700 hover:bg-white/30;
}

@utility ghost {
	@apply action-base frosted-glass hover:bg-accent cursor-pointer rounded-full transition-all duration-700;
}

@utility link {
	@apply cursor-pointer underline hover:decoration-2;
}

@utility input {
	@apply border-ink/10 rounded border p-[.25em] text-start;
}

/* utilities */

@utility sticky-below-header {
	position: sticky;
	top: calc(var(--header-height) + var(--offset, 0px));
}

@utility frosted-glass {
	--tw-bg-opacity: 0.9;
	@apply backdrop-blur-lg backdrop-saturate-200;
}

@utility full-bleed {
	width: 100vw;
	margin-inline: calc(50% - 50vw);
}

@utility no-scrollbar {
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility overflow-fade {
	--offset: 4rem;
	mask: linear-gradient(
		to right,
		transparent,
		black var(--offset),
		black calc(100% - var(--offset)),
		transparent
	);
}

@utility overflow-fade-r {
	--offset: 4rem;
	mask: linear-gradient(
		to right,
		black 50%,
		black calc(100% - var(--offset)),
		transparent
	);
}

/* layout */

@utility section {
	@apply mx-auto max-w-screen-xl p-8 max-md:px-4 md:py-12;
}

/* richtext */

@utility richtext {
	@apply space-y-2 leading-relaxed;
	font-family: var(--font-figtree);
	font-weight: 100;

	& :is(h1, h2, h3, h4, h5, h6) strong {
		@apply text-gradient;
	}

	& h1 {
		@apply h1;
	}

	& h2 {
		@apply h2;
	}

	& h3 {
		@apply h3;
	}

	& h4 {
		@apply h4;
	}

	& h5 {
		@apply h5;
	}

	& h6 {
		@apply h6;
	}

	& :is(ul, ol) {
		list-style: revert;
		padding-left: 1.5em;

		& > li > ol {
			list-style: lower-alpha;
		}
	}

	& a:not(:is(.action, .action-outline, .ghost)) {
		@apply font-medium;
	}

	& :not(pre) > code {
		@apply bg-ink/10 rounded px-1;
	}

	& pre {
		tab-size: 2;
		@apply overflow-x-auto rounded bg-transparent p-3 text-xs/relaxed;
	}

	& blockquote {
		@apply border-accent/10 border-s-2 ps-4;
	}

	& table {
		display: block;
		overflow-x: auto;
		text-wrap: balance;
		line-height: initial;

		@apply max-md:full-bleed min-w-full;

		& th,
		td {
			@apply p-3 text-center;
		}

		& tbody {
			& tr:nth-child(odd) {
				@apply bg-accent/3;
			}

			& tr th:first-child {
				text-align: left;
			}
		}
	}

	& video {
		width: 100%;
	}
}

/* skeleton */

@utility skeleton {
	@apply bg-ink/3 h-[1lh];
}
@utility skeleton-2 {
	@apply bg-ink/3 h-[2lh];
}
@utility skeleton-3 {
	@apply bg-ink/3 h-[3lh];
}

/* components */

@utility accordion {
	& summary {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		gap: 1em;

		&::after {
			content: '+';
			display: inline-block;
			font-family: monospace;
			font-size: 1.5em;
		}
	}

	& ::-webkit-details-marker {
		display: none;
	}

	&:open summary::after {
		content: '-';
	}
}

@utility carousel {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;

	& > * {
		flex: 0 0 min(var(--size, 300px), 80vw);
		scroll-snap-align: center;
	}
}
